#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
#cloud-config
# Add groups to the system
# The following example adds the ubuntu group with members 'root' and 'sys'
# and the empty group cloud-users.
groups:
  - terraform

# Add users to the system. Users are added after groups are added.
users:
  - default
  - name: terraform
    primary_group: terraform
    sudo:
      - 'ALL=(ALL) ALL'
    groups: sudo
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDlPG9XCy1UuXfpLg30GC4JOb2rAUOdoG3bDXTKfAnx8Ap8/mbozs94R5r2iDEoN6FDWGkh+H9skyklHLKKBJsHDcFQWZCN/zUbVEUUc4jGibG1aEBNa+iFYsicpyywLR7D3l8Sm5kILBhBTIxYIeZY8hQEkF8dh+04JDj08OYF3bFeXu1VUMbCwigA4ZdK/VAyv6DDykG3+OqIyeQC6MtIe+ebaRlQOtxd1yYfuoTDw0Oqt01gzd6gNtrq68BSm/EGonXBL0OfmnqvgRdU7f66XZ1W/V6PQRBTRBjq4I2CLWmVu+T6CoOdj1y04ALV3MFsFo3E/1k7RE+C+fwAMNfR host@local
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCzvwxLn5clElACy1kg4XVncsz72oq8k+u1lDmUr4IbWir+Mo63lB+LuWmAs6yr9xDpPNBNe9Atx6PiMTj6zJ6j3ZWaYen1jCXkCKW76FZvRy6d9MDGRDi/d/tOx3q2F9jAmXcnkc8SRAoSZZ2prQOVhpUEZAdOcB/+7Ks3e6ZxMcXboT4VPnFuWxChyn13/ITciAr4tI8Iq18gYUo1WbERBjot2YR7XIAa5iXs5boWkYYlUyV8uSY1R8srN5mVntzOLsaJSv1BMIUl4yly4py6FsBKV2ZvBa3d2pGhSGSAzLtn5fsjWagtgt7BgznI34G1vA/sL0QaX9Muc34RJ27H rafae@DESKTOP-TLIJB6J

chpasswd:
  list: |
     terraform:terraform
  expire: False
